// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...


body{
	font-family: "montserrat", sans-serif;
	font-weight: 500;
	font-style: normal;
	color: white;
}

.bgInsert{
	background-image: url("../images/Libary.jpg") ;
	background-repeat: no-repeat;
}

.OverskriftFont{
	font-family: "scrapbooker-script", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: white;

}

.colorFont{
	color: white;
}

.btn{
	background-color: #6e5456;
	color: white;
}

.btn:hover{
	background-color: #6e5456;
}

.form-control:focus {
	border-color: #6e5456;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(166, 122, 105, 0.6);

}

.bgBogVisning{
	background-color: rgba(110,84,86,0.60);
}

.border{
}
